@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600;700&display=swap");

$base-color: #F4F3F1;
$dark-color: #05060e;
$dark-color-op: #05060e50;
$accent-color: #79b988;
$accent-color-op: #79b98880;
$font-sans: 'Montserrat',
sans-serif;
$font-serif: 'Roboto Slab',
serif;
$font-big: 1.8rem;
$font-medium: 1.5rem;
$font-small: 1.1rem;
$font-tiny: 0.9rem;
$font-heavy: 600;
$font-regular: 400;
$font-light: 300;
$number-medium: 1rem;

* {
    box-sizing: border-box;
}

body {
    font-family: $font-serif;
    font-size: $font-small;
    font-weight: $font-light;
    background-color: $base-color;
    color: $dark-color;
    line-height: $font-medium;
    margin: 0 auto;
    // max-width: 720px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $dark-color-op;
    height: 80px;
    padding: 0 0.7em 0 0.7em;

    ul {
        display: flex;
        justify-content: space-between;

        a {
            color: $dark-color;
            text-decoration: none;

            &:visited {
                color: $dark-color;
            }
        }

        li {
            border-radius: 0.5em 0.5em;
            list-style: none;
            font-size: $font-small;
            font-weight: $font-heavy;
            margin-left: 15px;
        }

    }
}

h1 {
    font-family: $font-sans;
    font-size: $font-medium;
    // font-weight: $font-light;
    text-align: center;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
}

h2 {
    font-family: $font-sans;
    font-size: $font-medium;
    font-weight: $font-heavy;
    // margin: 0 0 0.5em 0;
    text-align: center;
}

h3 {
    font-family: $font-sans;
    font-size: $font-small;
    font-weight: $font-heavy;
    // margin: 0 0 0.5em 0;
    // text-align: center;
}

.logo {
    color: $dark-color;
    width: 200px;
    padding: 0.2em 0.7em 0 0.7em;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-slider-container {
    background-color: $accent-color;
    height: 60vh;
    width: 100%;
    margin: 0px auto;
}

.project-image-small {
    background-color: $accent-color;
    height: 300px;
    width: 300px;
}

.project-grid-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.footer-container {
    // background-color: $accent-color;
    border-top: 1px solid $dark-color-op;
    height: 200px;
    width: 100%;
    margin: 100px 0 0 0;
}

.image-large {
    background-color: $accent-color;
    height: 40vh;
}

.image-medium {
    background-color: $accent-color;
    height: 35vh;
}

.grid-container-2 {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 50px 25px 50px;
}

.grid-container-3 {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 50px 25px 50px;
}

@media all and (max-width: 500px) {

    .grid-container-2,
    .grid-container-3 {
        grid-template-columns: 1fr;
        font-size: $font-tiny;

    }
}

@media all and (min-width: 500px) and (max-width: 750px) {

    .grid-container-2,
    .grid-container-3 {
        grid-template-columns: 1fr;
    }
}