@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  font-weight: 300;
  background-color: #F4F3F1;
  color: #121420;
  line-height: 1.5rem;
  margin: 0 auto;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #05060e50;
  height: 80px;
  padding: 2.5em 2em 2.5em 2em;
}

.nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container ul a {
  color: #121420;
  text-decoration: none;
}

.nav-container ul a:visited {
  color: #121420;
}

.nav-container ul li {
  border-radius: 0.5em 0.5em;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 15px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin: 20px 0 20px 0;
  text-transform: uppercase;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.logo {
  color: #121420;
  width: 200px;
  padding: 0.2em 0 0 0;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  max-width: 1220px;
  margin: 0 auto;
}

.image-slider-container {
  background-color: #79b988;
  background-image: url(/img/paperlove1.jpg);
  background-position: center;
  background-size: cover;
  height: 75vh;
  width: 100%;
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

.btn-filter {
  background-color: transparent;
  border: 2px solid #121420;
  color: #121420;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  height: 3rem;
  margin: 0.5rem;
  padding: 0.9rem 1rem 1rem 1rem;
}

.btn-filter:hover {
  background-color: #121420;
  color: #F4F3F1;
}

.breadcrumbs {
  padding: 2rem 0.5rem 0 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.breadcrumbs a {
  text-decoration: none;
}

.breadcrumbs a:visited {
  color: #121420;
}

.project-grid-container {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 1em 0 0 0;
}

.project-grid-container .project-image-small {
  background-color: #79b988;
  background-image: url(/img/paperlove2.jpg);
  cursor: url(/img/sharp_add_circle_black_24dp.png), default;
  height: 300px;
  width: 300px;
  display: block;
  background-position: center;
  background-size: cover;
}

.image-large {
  background-color: #79b988;
  height: 40vh;
}

.image-medium {
  background-color: #79b988;
  background-image: url(/img/paperlove2.jpg);
  height: 100%;
  display: block;
  background-position: center;
  background-size: cover;
}

.grid-container-mix {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "A A" "B T1" "C C" "T2 D";
  row-gap: 30px;
  gap: 30px;
  padding: 20px 50px 25px 50px;
}

.grid-container-mix .grid-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container-mix .grid-box:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;
}

.grid-container-mix .grid-box:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: B;
}

.grid-container-mix .grid-box:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: C;
}

.grid-container-mix .grid-box:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: D;
}

.grid-container-mix .grid-box-text1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: T1;
}

.grid-container-mix .grid-box-text2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: T2;
}

.grid-container-article {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "A B C" "D T1 T2";
  row-gap: 30px;
  gap: 30px;
  padding: 20px 50px 25px 50px;
}

.grid-container-article .grid-box-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
}

.grid-container-article .grid-box-a:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;
  padding: 10px;
}

.grid-container-article .grid-box-a:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: B;
  padding: 10px;
}

.grid-container-article .grid-box-a:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: C;
  padding: 10px;
}

.grid-container-article .grid-box-a:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: D;
  padding: 10px;
}

.grid-container-article .grid-box-a-text1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: T1;
}

.grid-container-article .grid-box-a-text2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: T2;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #05060e50;
  height: 200px;
  width: 100%;
  margin: 100px 0 0 0;
  padding: 1em 0.7em 0 0.7em;
}

.footer-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container ul a {
  color: #121420;
  text-decoration: none;
}

.footer-container ul a:visited {
  color: #121420;
}

.footer-container ul li {
  border-radius: 0.5em 0.5em;
  list-style: none;
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 15px;
}

@media all and (min-width: 1400px) {
  .grid-container-mix {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "A A" "B T1" "C C" "T2 D";
    row-gap: 30px;
    gap: 30px;
    padding: 20px 50px 25px 50px;
  }
  .grid-container-mix .grid-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grid-container-mix .grid-box:nth-child(1) {
    height: 50vh;
  }
  .project-grid-container {
    gap: 30px;
  }
  .project-grid-container .project-image-small {
    height: 400px;
    width: 400px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1400px) {
  .grid-container-mix {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "A A" "B T1" "C C" "T2 D";
    row-gap: 30px;
    gap: 30px;
    padding: 20px 50px 25px 50px;
  }
  .grid-container-mix .grid-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-grid-container {
    gap: 30px;
  }
  .project-grid-container .project-image-small {
    height: 350px;
    width: 350px;
  }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .image-slider-container {
    height: 75vh;
  }
  .grid-container-mix {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "A A" "B T1" "C C" "T2 D";
    row-gap: 30px;
    gap: 30px;
    padding: 20px 50px 25px 50px;
  }
  .grid-container-mix .grid-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .image-slider-container {
    height: 55vh;
  }
  .grid-container-mix {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "A A" "B T1" "C C" "T2 D";
    row-gap: 30px;
    gap: 30px;
    padding: 20px 30px 25px 30px;
  }
  .grid-container-mix .grid-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-grid-container {
    gap: 30px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .project-grid-container .project-image-small {
    height: 350px;
    width: 350px;
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 1.3rem;
  }
  .image-slider-container {
    height: 40vh;
  }
  .grid-container-mix {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "A" "T1" "B" "T2" "C" "D";
    row-gap: 30px;
    gap: 30px;
    padding: 50px 50px 25px 50px;
  }
  .grid-container-mix .grid-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grid-container-mix .grid-box-text1 {
    font-size: 1.1rem;
    max-width: 400px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .project-grid-container {
    gap: 25px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .project-grid-container .project-image-small {
    height: 260px;
    width: 260px;
  }
}

@media all and (max-width: 576px) {
  h1 {
    font-size: 1.3rem;
  }
  .image-slider-container {
    height: 35vh;
  }
  .grid-container-mix {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "A" "T1" "B" "T2" "C" "D";
    row-gap: 30px;
    gap: 30px;
    padding: 50px 50px 25px 50px;
  }
  .grid-container-mix .grid-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grid-container-mix .grid-box-text1 {
    font-size: 0.9rem;
    max-width: 400px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .project-grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=App.css.map */