@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600;700&display=swap");

$base-color: #F4F3F1;
$dark-color: #05060e;
$dark-color-op: #05060e50;
$accent-color: #79b988;
$accent-color-op: #79b98831;
$font-sans: 'Montserrat',
sans-serif;
$font-serif: 'Roboto Slab',
serif;

$font-heavy: 600;
$font-regular: 400;
$font-light: 300;
$number-medium: 1rem;

$font-big: 1.8rem;
$font-medium: 1.5rem;
$font-small: 1.1rem;
$font-tiny: 0.9rem;

$font-big-t: 1.8rem;
$font-medium-t: 1.5rem;
$font-small-t: 1.0rem;
$font-tiny-t: 0.9rem;

$font-big-m: 1.5rem;
$font-medium-m: 1.3rem;
$font-small-m: 0.9rem;
$font-tiny-m: 0.7rem;

* {
    box-sizing: border-box;
}

body {
    font-family: $font-serif;
    font-size: $font-small;
    font-weight: $font-light;
    background-color: $base-color;
    color: $dark-color;
    line-height: $font-medium;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $dark-color-op;
    height: 80px;
    padding: 2.5em 2em 2.5em 2em;

    ul {
        display: flex;
        justify-content: space-between;

        a {
            color: $dark-color;
            text-decoration: none;

            &:visited {
                color: $dark-color;
            }
        }

        li {
            border-radius: 0.5em 0.5em;
            list-style: none;
            font-family: $font-sans;
            font-size: $font-small;
            font-weight: $font-heavy;
            margin-left: 15px;
        }

    }
}

h1 {
    font-family: $font-sans;
    font-size: $font-big;
    font-weight: $font-heavy;
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 1.5em 0 1em 0;
    text-transform: uppercase;
}

h2 {
    font-family: $font-sans;
    font-size: $font-medium;
    font-weight: $font-regular;
    // margin: 0 0 0.5em 0;
    text-align: center;
}

h3 {
    font-family: $font-sans;
    font-size: $font-small;
    font-weight: $font-heavy;
    // margin: 0 0 0.5em 0;
    // text-align: center;
}

.logo {
    color: $dark-color;
    width: 200px;
    padding: 0.2em 0 0 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    max-width: 1520px;
    margin: 0 auto;
}

.image-slider-container {
    background-color: $accent-color;
    height: 75vh;
    width: 100%;
    // margin: 0px auto;
}

.project-grid-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em 0 0 0;

    .project-image-small {
        background-color: $accent-color;
        background-image: url(/img/paperlove2.jpg);
        height: 300px;
        width: 300px;
        display: block;
        background-position: center;
        background-size: cover;
    }
}

.footer-container {
    background-color: $accent-color;
    display: flex;
    justify-content: space-between;
    // border-top: 1px solid $dark-color-op;
    height: 200px;
    width: 100%;
    margin: 100px 0 0 0;
    padding: 1em 0.7em 0 0.7em;

    ul {
        display: flex;
        justify-content: space-between;

        a {
            color: $dark-color;
            text-decoration: none;

            &:visited {
                color: $dark-color;
            }
        }

        li {
            border-radius: 0.5em 0.5em;
            list-style: none;
            font-size: $font-small;
            font-weight: $font-heavy;
            margin-left: 15px;
        }

    }
}

.image-large {
    background-color: $accent-color;
    height: 40vh;
}

.image-medium {
    background-color: $accent-color;
    // background-image:map-get($map: , $key: );
    background-image: url(/img/paperlove2.jpg);
    // height: 35vh;
    height: 100%;
    display: block;
    background-position: center;
    background-size: cover;
}

.grid-container-mix {
    display: grid;
    grid-template-areas:
        "A A"
        "B T1"
        "C C"
        "T2 D";
    row-gap: 30px;
    gap: 30px;
    padding: 50px 50px 25px 50px;

    .grid-box {
        display: flex;
        height: 50vh;
        justify-content: center;
        align-items: center;
    }

    .grid-box:nth-child(1) {
        grid-area: A;
    }

    .grid-box:nth-child(2) {
        grid-area: B;
    }

    .grid-box:nth-child(3) {
        grid-area: C;
    }

    .grid-box:nth-child(4) {
        grid-area: D;
    }

    .grid-box-text1 {
        grid-area: T1;
    }

    .grid-box-text2 {
        grid-area: T2;
    }
}



// ---------------------------------- media queries 1400 - 1200 - 992 - 768 - 576

// XX-Large devices (larger desktops, 1400px and up)
@media all and (min-width: 1400px) {

    .grid-container-mix {
        display: grid;
        grid-template-areas:
            "A A"
            "B T1"
            "C C"
            "T2 D";
        row-gap: 30px;
        gap: 30px;
        padding: 50px 50px 25px 50px;

        .grid-box {
            display: flex;
            height: 45vh;
            justify-content: center;
            align-items: center;
        }

        .grid-box:nth-child(1) {
            height: 50vh;
        }
    }

    // in ProjectOverview.js
    .project-grid-container {
        gap: 30px;
        // grid-template-columns: repeat(3, 1fr);

        .project-image-small {
            height: 400px;
            width: 400px;
        }
    }

}

// X-Large devices (large desktops, 1200px and up)
@media all and (min-width: 1200px) and (max-width: 1400px) {

    .grid-container-mix {
        display: grid;
        grid-template-areas:
            "A A"
            "B T1"
            "C C"
            "T2 D";
        row-gap: 30px;
        gap: 30px;
        padding: 50px 50px 25px 50px;

        .grid-box {
            display: flex;
            height: 45vh;
            justify-content: center;
            align-items: center;
        }
    }

    // in ProjectOverview.js
    .project-grid-container {
        gap: 30px;
        // grid-template-columns: repeat(3, 1fr);

        .project-image-small {
            height: 350px;
            width: 350px;
        }
    }

}

// Large devices (desktops, 992px and up)
@media all and (min-width: 992px) and (max-width: 1200px) {

    body {
        font-size: $font-small-t;
    }

    h1 {
        font-size: $font-medium-t;
    }

    .image-slider-container {
        height: 60vh;
    }

    .grid-container-mix {
        display: grid;
        grid-template-areas:
            "A A"
            "B T1"
            "C C"
            "T2 D";
        row-gap: 30px;
        gap: 30px;
        padding: 50px 50px 25px 50px;

        .grid-box {
            display: flex;
            height: 45vh;
            justify-content: center;
            align-items: center;
        }
    }

}

// Medium devices (tablets, 768px and up)
@media all and (min-width: 768px) and (max-width: 992px) {

    body {
        font-size: $font-small-t;
    }

    h1 {
        font-size: $font-medium-t;
    }

    .image-slider-container {
        height: 55vh;
    }

    .grid-container-mix {
        display: grid;
        grid-template-areas:
            "A A"
            "B T1"
            "C C"
            "T2 D";
        row-gap: 30px;
        gap: 30px;
        padding: 50px 30px 25px 30px;

        .grid-box {
            display: flex;
            height: 35vh;
            justify-content: center;
            align-items: center;
        }
    }

    // in ProjectOverview.js
    .project-grid-container {
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);

        .project-image-small {
            height: 350px;
            width: 350px;
        }
    }

}

// Small devices (landscape phones, 576px and up)
@media all and (min-width: 576px) and (max-width: 768px) {

    h1 {
        font-size: $font-medium-m;
    }

    .image-slider-container {
        height: 40vh;
    }

    .grid-container-mix {
        display: grid;
        grid-template-areas:
            "A"
            "T1"
            "B"
            "T2"
            "C"
            "D";
        row-gap: 30px;
        gap: 30px;
        padding: 50px 50px 25px 50px;

        .grid-box {
            display: flex;
            height: 45vh;
            justify-content: center;
            align-items: center;
        }

        .grid-box-text1 {
            font-size: $font-small;
            max-width: 400px;
            justify-self: center;
        }
    }

    // in ProjectOverview.js
    .project-grid-container {
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);

        .project-image-small {
            height: 260px;
            width: 260px;
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media all and (max-width: 576px) {

    h1 {
        font-size: $font-medium-m;
    }

    .image-slider-container {
        height: 35vh;
    }

    .grid-container-mix {
        display: grid;
        grid-template-areas:
            "A"
            "T1"
            "B"
            "T2"
            "C"
            "D";
        row-gap: 30px;
        gap: 30px;
        padding: 50px 50px 25px 50px;

        .grid-box {
            display: flex;
            height: 45vh;
            justify-content: center;
            align-items: center;
        }

        .grid-box-text1 {
            font-size: $font-small-m;
            // letter-spacing: 0.1px;
            max-width: 400px;
            justify-self: center;
        }
    }

    // in ProjectOverview.js
    .project-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }


}