@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  font-weight: 300;
  background-color: #F4F3F1;
  color: #121420;
  line-height: 1.5rem;
  margin: 0 auto;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #05060e50;
  height: 105px;
  padding: 2.5em 2em 2.5em 2em;
}

.nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container ul a {
  color: #121420;
  text-decoration: none;
}

.nav-container ul a:visited {
  color: #121420;
}

.nav-container ul li {
  border-radius: 0.5em 0.5em;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  margin-left: 15px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 20px 0 20px 0;
  text-transform: uppercase;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}

.logo {
  color: #121420;
  width: 200px;
  padding: 0.2em 0 0 0;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  max-width: 1220px;
  margin: 0 auto;
}

.title-center {
  padding: 1em;
}

.image-slider-container {
  background-position: center;
  background-size: cover;
  padding-bottom: 30px;
}

.image-slider-container img {
  width: 100%;
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

.btn-filter {
  background-color: transparent;
  border: 2px solid #121420;
  color: #121420;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  height: 3rem;
  margin: 0.5rem;
  padding: 0.9rem 1rem 1rem 1rem;
}

.btn-filter:hover {
  background-color: #121420;
  color: #F4F3F1;
}

.breadcrumbs {
  padding: 2rem 0.5rem 0 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.breadcrumbs a {
  text-decoration: none;
}

.breadcrumbs a:visited {
  color: #121420;
}

.project-grid-container {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 1em 0 0 0;
}

.project-grid-container .project-image-small {
  background-color: #79b988;
  background-image: url(/img/paperlove2.jpg);
  cursor: url(/img/sharp_add_circle_black_24dp.png), default;
  height: 300px;
  width: 300px;
  display: block;
  background-position: center;
  background-size: cover;
}

.image-large {
  background-color: #79b988;
  height: 40vh;
}

.image-medium {
  overflow: hidden;
}

.image-medium img {
  width: 100%;
  position: relative;
  top: -50%;
}

.image-1-2 {
  overflow: hidden;
  max-width: 545px;
}

.image-portrait {
  overflow: hidden;
  height: 400px;
}

.image-portrait img {
  position: relative;
  top: -50%;
  left: -50%;
}

.grid-container-mix {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "A A" "B T1" "C C" "T2 D";
  row-gap: 30px;
  gap: 30px;
  padding: 20px 50px 25px 50px;
}

.grid-container-mix .grid-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container-mix .grid-box:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: A;
}

.grid-container-mix .grid-box:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: B;
}

.grid-container-mix .grid-box:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: C;
}

.grid-container-mix .grid-box:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: D;
}

.grid-container-mix .grid-box-text1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: T1;
}

.grid-container-mix .grid-box-text2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: T2;
}

.grid-container-article {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "A A A" "B T1 T1" "C T2 T3" ". D D";
  gap: 30px;
  padding: 20px 50px 25px 50px;
  margin: 0 auto;
}

.grid-container-article .grid-box-a:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: A;
  height: 40vh;
}

.grid-container-article .grid-box-a:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: B;
}

.grid-container-article .grid-box-a:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: C;
}

.grid-container-article .grid-box-a:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: D;
}

.grid-container-article .grid-box-a-text1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: T1;
}

.grid-container-article .grid-box-a-text2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: T2;
}

.grid-container-article .grid-box-a-text3 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: T3;
}

.grid-container-article .article-intro {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #05060e50;
  height: 200px;
  width: 100%;
  margin: 100px 0 0 0;
  padding: 1em 0.7em 0 0.7em;
}

.footer-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container ul a {
  color: #121420;
  text-decoration: none;
}

.footer-container ul a:visited {
  color: #121420;
}

.footer-container ul li {
  border-radius: 0.5em 0.5em;
  list-style: none;
  font-size: 1.1rem;
  font-weight: 700;
  margin-left: 15px;
}

input {
  background-color: #F4F3F1;
  border: 2px solid #121420;
  border-radius: 0.5em;
  color: #121420;
  font-family: "Roboto Slab", serif;
  margin: 0.5rem;
  padding: 0.4rem;
}

input:focus-visible {
  outline: none;
}

button {
  background-color: #F4F3F1;
  border: 0;
  color: #121420;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
}

.admin-add-btn {
  height: 100px;
  width: 100px;
  float: right;
}

.material-icons-round {
  color: #121420;
  font-size: 5em;
}

.material-icons-round:hover {
  color: #79b988;
}

.admin-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  min-height: 100vh;
}

.admin-nav-sidebar {
  background-color: #121420;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20vw;
}

.admin-nav-sidebar ul {
  list-style: none;
  padding: 15px;
}

.admin-nav-sidebar ul a {
  color: #79b988;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  text-decoration: none;
}

.admin-nav-sidebar ul a li {
  border-bottom: 1px solid #79b988;
  width: 100%;
}

.admin-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  padding: 1rem;
}

.admin-content-container .filter-box {
  padding: 0.4rem 0.4rem 0.4rem 2rem;
}

.admin-content-container .filter-box .filter {
  background-color: #121420;
  color: #F4F3F1;
  margin: 1em;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0.5em;
}

.admin-content-container .filter-box .filter:hover {
  background-color: #79b988;
}

.admin-content-input {
  height: 10vh;
}

.overview-row {
  border: 1px solid #121420;
  border-radius: 0.5em;
  color: #121420;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  margin: 0.5rem;
  padding: 0.4rem 0.4rem 0.4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview-row span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 2.5em;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
}

#overview-table {
  border: 1px solid #121420;
  border-radius: 0.5em;
  color: #121420;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  margin: 0.5rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#overview-table th {
  background-color: #121420;
  color: #79b988;
  padding: 0.4rem 0.4rem 0.4rem 2rem;
}

#overview-table th:first-child {
  border-top-left-radius: 0.5em;
}

#overview-table th:last-child {
  border-top-right-radius: 0.5em;
}

#overview-table tr {
  border-bottom: 1px solid #121420;
  padding: 0.5;
}

#overview-table tr td {
  padding: 0.5rem 2rem 0.5rem 2rem;
}

#overview-table tr td span {
  font-size: 2.5em;
  float: right;
}

#overview-table tr:last-child {
  border-bottom: none;
}

#overview-table tr:nth-child(odd) {
  background-color: #79b98831;
}

@media all and (min-width: 1400px) {
  .grid-container-mix {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "A A" "B T1" "C C" "T2 D";
    row-gap: 30px;
    gap: 30px;
    padding: 20px 50px 25px 50px;
  }
  .grid-container-mix .grid-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grid-container-mix .grid-box:nth-child(1) {
    height: 50vh;
  }
  .project-grid-container {
    gap: 30px;
  }
  .project-grid-container .project-image-small {
    height: 400px;
    width: 400px;
  }
}

@media all and (min-width: 1200px) and (max-width: 1400px) {
  .grid-container-mix {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "A A" "B T1" "C C" "T2 D";
    row-gap: 30px;
    gap: 30px;
    padding: 20px 50px 25px 50px;
  }
  .grid-container-mix .grid-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-grid-container {
    gap: 30px;
  }
  .project-grid-container .project-image-small {
    height: 350px;
    width: 350px;
  }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .image-slider-container {
    height: 75vh;
  }
  .grid-container-mix {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "A A" "B T1" "C C" "T2 D";
    row-gap: 30px;
    gap: 30px;
    padding: 20px 50px 25px 50px;
  }
  .grid-container-mix .grid-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  .image-slider-container {
    height: 55vh;
  }
  .grid-container-mix {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "A A" "B T1" "C C" "T2 D";
    row-gap: 30px;
    gap: 30px;
    padding: 20px 30px 25px 30px;
  }
  .grid-container-mix .grid-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-grid-container {
    gap: 30px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .project-grid-container .project-image-small {
    height: 350px;
    width: 350px;
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 1.3rem;
  }
  .image-slider-container {
    height: 40vh;
  }
  .grid-container-mix {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "A" "T1" "B" "T2" "C" "D";
    row-gap: 30px;
    gap: 30px;
    padding: 50px 50px 25px 50px;
  }
  .grid-container-mix .grid-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grid-container-mix .grid-box-text1 {
    font-size: 1.1rem;
    max-width: 400px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .project-grid-container {
    gap: 25px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .project-grid-container .project-image-small {
    height: 260px;
    width: 260px;
  }
}

@media all and (max-width: 576px) {
  h1 {
    font-size: 1.3rem;
  }
  .image-slider-container {
    height: 35vh;
  }
  .grid-container-mix {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "A" "T1" "B" "T2" "C" "D";
    row-gap: 30px;
    gap: 30px;
    padding: 50px 50px 25px 50px;
  }
  .grid-container-mix .grid-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grid-container-mix .grid-box-text1 {
    font-size: 0.9rem;
    max-width: 400px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .project-grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=App.css.map */